<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">Enter firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <label for="lastName">Enter lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>